.characters {

  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;

  .card {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
    

    .flip-box {
        margin-top: 200px;
        margin-right: 15px;
        max-width: 100px;
        max-height: 50px;
        perspective: 200px;
    }

    .flip-box-inner {
        /* position: relative; */
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    #croix{
        overflow: hidden;
        margin-top: -30px;
        transition: 0.8s;
    }

    #croix:hover {
        overflow: visible;
    }

    .flip-box-back {
        transform: rotateY(180deg);
    }

    .flip-box-front, .flip-box-back {
        /* position: absolute; */
        width: 100%;
        height: 100%;
    }

    .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
    }
  }
}
